<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorate="~{shared/layout}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">Media Formulaire</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			<form id="personneForm" th:object="${media}" th:action="@{/media/save}"
				method="post" enctype="multipart/form-data">
				<input type="hidden" th:field="*{idMedia}" />
				<div class="card-body">
					<div class="form-group">
						<label for="film">Film</label>
						<select th:field=*{film}>
							<option th:each="f:${films}" th:value="${f.ID}"
							th:text="${f.title}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="typeMedia">Type de Media</label>
						<select th:field=*{typeMedia}>
							<option value="IMAGE">IMAGE</option>
							<option value="VIDEO">VIDEO</option>
							<option value="OTHER">OTHER</option>
						</select>
					</div>
					<div class="form-group">
						<label for="photo">Photo</label> <input
							type="file" name="file" class="form-control" id="photo"
							placeholder="Enter photo file">
					</div>
				</div>
				<!-- /.card-body -->
				<div class="card-footer">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>

	</div>
</body>
</html>