<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html layout:decorate="~{shared/layout}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Medias</title>
</head>
<body>
	<div layout:fragment="content">
		<a class="btn btn-primary my-5 ml-2" th:href="@{/media/add}">Add
			New Media</a>
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Medias</h3>

				<div class="card-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" name="table_search"
							class="form-control float-right" placeholder="Search">

						<div class="input-group-append">
							<button type="submit" class="btn btn-default">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body table-responsive p-0">
				<table class="table table-hover text-nowrap">
					<thead>
						<tr>
							<th>Photo</th>
							<th>Type Media</th>
							<th>Film</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="m : ${mediaList}">
							<td><img th:src="@{${m.media}}" width="30" height="50"/></td>
							<td th:text="${m.typeMedia}"></td>
							<td th:text="${m.film.title}"></td>
							<td><a th:href="${'/media/delete/'+m.idMedia}">Delete</a> | <a
								th:href="${'/media/update/'+m.idMedia}">Update</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>

	</div>
</body>
</html>